html {
	background-color: #E8E8F0;
	height: 100%;
	width: 100%;
	font-family: 'Helvetica Neue';
	overflow-x: none;
}

.center {
	margin-right: auto;
	margin-left: auto;
}

h3 {
	text-align: center;
}

.buttonspace {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.fa {
	text-decoration: none;
	font-size: 22pt;
}

.flink {
	color: gray;
	width: 15%;
}

.flink:hover {
	color: #45619D;
}

.tlink {
	color: gray;
	width: 15%;
}

.tlink:hover {
	color: #2596C6;
}

.glink {
	color: gray;
	width: 15%;
}

.blink {
	color: gray;
	width: 15%;
}

.blink:hover {
	color: #422300;
}

.glink:hover {
	color: #333333;
}

.elink {
	color: gray;
	width: 15%;
}

.elink:hover {
	color: #DD4B39;
}

.container {
	margin-right: auto;
	margin-left: auto;
	max-width: 500px;
}

.none {
	display: none;
}

.title {
	letter-spacing: -1px;
	color: black;
	font-weight: 900;
}

.toppadd {
	padding-top: 10%;
}

.introbox {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.profilePic {
	background-color: #fff;
	border: 4px solid #fff;
	-webkit-border-radius: 2px;
	height: 160px;
	width: 160px;
	border-radius: 80px;
}

.jbtn {
	background: #697FA0;
	border-bottom: 2px solid #516D98;
	padding: 12px 16px 8px;
	line-height: 1;
	border-radius: 3px;
	color: white;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	text-decoration: none;
}

.jbtn:hover {
	text-decoration: none;
	background-color: #5C7CAD;
}

.jbtn:active {
	margin-top: 1px;
	border-bottom: 1px solid #516D98;
}

.photosection {
	margin-right: auto;
	margin-left: auto;
	width: 50%;
}

.blue {
	color: #030D4F;
}

.pictureframe {
	background-color: #fff;
	border: 10px solid #fff;
	-webkit-border-radius: 2px;
	height: 300px;
	width: 100%;
	z-index: 9;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}

.slideshow {
	position: relative;
	z-index: 1;
}

.slideshow img {
	position: absolute;
	left: 0;
	width: 100%;
	top: 0;
	z-index: 5;
}

.datboxshadowdoe {
	box-shadow: inset 0 0 20px 2px #000;
	z-index: 10;
	position: absolute;
	height: 300px;
	width: 500px;
}

.phototext {
	color: white;
	text-shadow: 0px 1px 10px #000;
	position: absolute;
	z-index: 10;
	padding-left: 15px;
}

.bottompad {
	padding-bottom: 30px;
}

ul {
	list-style: none;
}

footer {
	color: gray;
	text-align: center;
}

.shrank {
	width: 80%;
}