html {
	background-color: #ECEDF5;
	height: 100%;
	width: 100%;
	font-family: 'Droid Sans', sans-serif;
}
.intro {
	margin-right: auto;
	margin-left: auto;
}
.about {
}
.fa {
	text-decoration: none;
	font-size: 22pt;
}
.flink {
	color: gray;
}
.flink:hover {
	color: #45619D;
}
.tlink {
	color: gray;
}
.tlink:hover {
	color: #2596C6;
}
.glink {
	color: gray;
}
.glink:hover {
	color: #333333;
}
.elink {
	color: gray;
}
.elink:hover {
	color: #DD4B39;
}
.container {
	width: 80%;
}
.none {
	display: none;
}
.title {
	letter-spacing: -1px;
	color: black;
}
.toppadd {
	padding-top: 10%;
}
.introbox {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.profilePic {
	background-color: #fff;
	border: 4px solid #fff;
	-webkit-border-radius: 2px;
	height: 160px;
	width: 160px;
}
.jbtn {
	background: #697FA0;
	border-bottom: 2px solid #516D98;
	padding: 12px 16px 8px;
	line-height: 1;
	border-radius: 3px;
	color: white;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	text-decoration: none;
}
.jbtn:hover {
	text-decoration: none;
	background-color: #5C7CAD;
}

.jbtn:active {
	margin-top: 1px;
	border-bottom: 1px solid #516D98;
}
.photosection {
	margin-right: auto;
	margin-left: auto;
	width: 50%;
}
.pictureframe {
	background-color: #fff;
	border: 10px solid #fff;
	-webkit-border-radius: 2px;
	height: 420px;
	width: 420px;
}
.slideshow {
	position: relative;
	width: 420px;
  height: 420px;
}
.slideshow img {
	position: absolute;
	height: 420px;
	width: 420px;
	left: 0;
	top: 0;
}
ul {
	margin: 0;
	padding-left: 10px;
	border-left: 1px solid #9A9A9A;
	overflow: visible;
	list-style: none;
}
footer {
	color: gray;
	text-align: center;
}
