<div class="trans">
<div class="picture-title">
  <img id="top" src="images/me.jpg" class="profilePic">
  <h2 class="title">Jack Hanford</h2>
  <p class="center">Engineer - Hacker - Technology Addict</p>
 </div>

  <div class="buttonspace bttn-deck">
    <a href="/portfolio" class="fa fa-briefcase tip" data-tip="What I've worked on"></a>
    <!-- <a href="/2013/12/12/BlogIndex.html" class="fa fa-bullhorn tip" data-tip="Blog"></a> -->
    <a href="http://twitter.com/jackhanford" class="fa fa-twitter tip" data-tip="Twitter"></a>
    <a href="http://github.com/jackhanford" class="fa fa-github-alt social tip" data-tip="GitHub"></a>
    <a href="http://facebook.com/jackhanford" class="fa fa-facebook tip" data-tip="Facebook"></a>
    <a href="mailto:jackhanford@gmail.com" class="fa fa-envelope tip" data-tip="Email"></a>
    <a href="/Playground/" class="fa fa-flask tip" data-tip="Playground"></a>
    <br />
    <br />
    <button id="jbtn" class="bttn bttn-primary">More about me</button>
  </div>
</div>
