<div class="toppadd"></div>
<div class="introbox fadeIn">
  <img src="images/me.jpg" class="profilePic">
  <h2 class="title">Jack Hanford</h2>
  <p class="center">Engineer - Marketer - Technology Addict</p>
  
  <div id="top" class="buttonspace">
    <a href="/portfolio" class="fa fa-briefcase tip" data-tip="What I've worked on"></a>
    <!-- <a href="/2013/12/12/BlogIndex.html" class="fa fa-bullhorn tip" data-tip="Blog"></a> -->
    <a href="http://twitter.com/jackhanford" class="fa fa-twitter tip" data-tip="Twitter"></a>
    <a href="http://github.com/jackhanford" class="fa fa-github-alt social tip" data-tip="GitHub"></a>
    <a href="http://facebook.com/jackhanford" class="fa fa-facebook tip" data-tip="Facebook"></a>
    <a href="mailto:jackhanford@gmail.com" class="fa fa-envelope tip" data-tip="Email"></a>
    <a href="/labs/" class="fa fa-flask tip" data-tip="Playground"></a>
    <br />
    <br />
    <button id="jbtn" class="bttn bttn-primary" href="javascript:void(0)">More about me</button>
  </div>
</div>