<div class="introbox">
  <a href="../../../index.html">
    <img src="../../../images/me.jpg" class="profilePic">
    <h2 class="title">Jack Hanford</h2>
  </a>
  <div>
    <a class="sublte social" href="http://twitter.com/jackhanford">Twitter</a>
    <br />
    <br />
    <a class="sublte social" href="http://facebook.com/jackhanford">Facebook</a>
    <br />
    <br />
    <a class="sublte social" href="mailto:jackhanford.com">Email</a>
    <br />
    <br />
    <a class="sublte social" href="http://github.com/hanford">Github</a>
    <br />
    <br />
    <a class="sublte social" href="../../../index.html">Home</a>
    <br />
    <br />
  </div>
</div> <!-- </introbox> -->