.styleRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 0;
  border-bottom: 1px solid #CCC;
}

@media (max-width: 767px) {
  .styleRow {
    padding: 0.5rem 0;
  }
}

.icon {
  font-size: 3rem;
  margin: 0 0.5rem;
  color: black;
  display: inline-block;
}

@media (max-width: 767px) {
  .where {
    display: none;
  }
}

@media (max-width: 767px) {
  .social-row {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
}
