---
title: Portfolio
---
<!-- Hows my code? ... Send me an email jackhanford@gmail.com-->
<html>
{% include head.html %}
<body>
  {% include about-me-not-index.html %}
  <div class="container">
    <h3 class="clearfix">Previous Projects</h3>
    <div class="polaroid-images">
      <a href="http://joinhomebase.com" title="Homebase"><img src="../images/homebase.png" alt="Homebase" title="Homebase" /></a>
      <a href="http://refresh.io" title="Refresh.io"><img src="../images/refresh.png" alt="Refresh" title="Refresh" /></a>
      <a href="http://techcrunch.com/2012/09/26/after-2-months-of-squatting-at-aol-eric-simons-launches-claco-the-github-for-teachers/" title="Claco"><img src="../images/claco.png" alt="../Claco.png" title="claco" /></a>
      <a href="http://paloaltorooster.com/" title="Palo Alto Rooster"><img src="../images/PaloRooster.png" title="Palo Alto Rooster" /></a>
    </div>
    <div class="clearfix">
      <p>Only showing a few projects here, I have other work on my github.</p>
      <p>
        Want to take a look at my resume? You can take a look at it <a id="bottom" href="#bottom" class="resumetoggle">here</a> or download it <a href="../files/JackHanford_Resume.pdf">here.</a>
      </p>
      <embed id="#bottom" class="resume" src="../files/JackHanford_Resume.pdf" width="90%" height="100%">
      </div>
    {% include footer.html %}
    {% include scripts.html %}
  </div>
  </body>
  </html>