---
title: Labs
---
<!-- Hows my code? ... Send me an email jackhanford@gmail.com-->
<html>
{% include head.html %}

<body>
  {% include about-me-not-index.html %}
  <div class="container">
    <h3 class="clearfix">Side projects</h3>
    <div class="polaroid-images">

      <!-- Facebook Data Visualizer -->
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <a href="/facebook-data-visualizer/">
              <img src="../images/facebook-background.png" alt="Facebook Data Visualizer" title="Facebook Data Visualizer" />
              <span class="polaroid-title">Facebook Data Visualizer</span>
            </a>
          </div>
          <div class="back">
            <a href="/facebook-data-visualizer/">
            <span class="back-title">Facebook Data Visualizer</span>
            <br />
              <span class="project-desc">
                 A node script that parsed data downloaded from facebook, I then used angularJS and d3 to display
                 the data on graphs. Some of the graphs include usuage by hour, weekday, month and year. I also did a 
                 sentiment analysis on all messages showing you which friends made you happiest and which friends made you saddest.
              </span>
              <br />
            </a>
          </div>
        </div>
      </div>

      <!-- MobileGit -->
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <a href="/MobileGit/">
              <img src="../images/mobileGit.png" alt="Mobile Git" />
              <span class="polaroid-title">MobileGit</span>
            </a>
          </div>
          <div class="back">
            <a href="/MobileGit/">
            <span class="back-title">MobileGit</span>
            <br />
              <span class="project-desc">
                A github application for iOS. Built using angularJS, ionicframework and cordova phonegap.
              </span>
              <br />
            </a>
          </div>
        </div>
      </div>

      <!-- bookmarker -->
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <a href="https://chrome.google.com/webstore/detail/bookmarker/bhomekmmidkajapfdgkcediddoajoijj">
              <img src="../images/bookmarker.png" alt="Chrome ext" title="Chrome ext" />
              <span class="polaroid-title">Bookmarker</span>
            </a>
          </div>
          <div class="back">
            <a href="https://chrome.google.com/webstore/detail/bookmarker/bhomekmmidkajapfdgkcediddoajoijj">
            <span class="back-title">Bookmarker</span>
            <br />
              <span class="project-desc">
                A small chrome extension for openning your favorite websites with one hot key.
              </span>
              <br />
            </a>
          </div>
        </div>
      </div>

      <!-- Background Changer -->
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <a href="http://hanford.github.io/BackgroundChanger/">
              <img src="../images/color.png" alt="../color.png" title="JavascriptColor Creator" />
              <span class="polaroid-title">Javascript Color Finder</span>
            </a>
          </div>
          <div class="back">
            <a href="http://hanford.github.io/BackgroundChanger/">
            <span class="back-title">Javascript Color Finder</span>
            <br />
              <span class="project-desc">
                 A small color finder, input a hexidecimal color and you can generate colors that are either lighter or darker.
              </span>
              <br />
            </a>
          </div>
        </div>
      </div>

      <!-- 5 second game -->
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <a href="http://hanford.github.io/5secondGame/">
              <img src="../images/5seconds.png" alt="../5seconds.png" title="5 Seconds Game" />
              <span class="polaroid-title">5 Seconds Game</span>
            </a>
          </div>
          <div class="back">
            <a href="http://hanford.github.io/5secondGame/">
            <span class="back-title">5 Seconds Game</span>
            <br />
              <span class="project-desc">
                 Simple game built in javascript with a lot of CSS animations.. Try to stop the clock at exactly 5 seconds. 
              </span>
              <br />
            </a>
          </div>
        </div>
      </div>

      <!-- iOS 7 in CSS -->
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <a href="/Projects/ios7/ios7.html">
              <img src="../images/ios7.png" alt="iOS7CSS" title="iOS7CSS" />
              <span class="polaroid-title">iOS 7 in CSS</span>
            </a>
          </div>
          <div class="back">
            <a href="/Projects/ios7/ios7.html">
            <span class="back-title">iOS 7 in CSS</span>
            <br />
              <span class="project-desc">
                 When iOS 7 was first announced, I loved a lot of the UI elements, so this was my best attempt at 
                 recreating them in CSS.
              </span>
              <br />
            </a>
          </div>
        </div>
      </div>

      <!-- jquery tips -->
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <a href="http://fouad.github.io/jquery-tips">
              <img height="200" src="../images/jquery.png" alt="jquerytip" title="jquerytooltip" />
              <span class="polaroid-title">jQuery Tooltips</span>
            </a>
          </div>
          <div class="back">
            <a href="http://fouad.github.io/jquery-tips">
            <span class="back-title">jQuery Tooltips</span>
            <br />
              <span class="project-desc">
                 A small, lightweight library for jquery tooltips.
              </span>
              <br />
            </a>
          </div>
        </div>
      </div>

    </div>
    <p class="clearfix">Only showing a few projects here, I have other work on my github.</p>
    <br />
    {% include footer.html %} {% include scripts.html %}
  </div>
</body>

</html>
