---
title: Labs
---
<!-- Hows my code? ... Send me an email jackhanford@gmail.com-->
<html>
{% include head.html %}

<body>
  {% include about-me-not-index.html %}
  <div class="container">
    <h3 class="clearfix">Side projects</h3>
    <div class="polaroid-images">
      <a href="/MobileGit/" title="MobileGit iOS App">
        <img src="../images/mobileGit.png" alt="Mobile Git" title="MobileGit" />
      </a>
      <a href="https://chrome.google.com/webstore/detail/bookmarker/bhomekmmidkajapfdgkcediddoajoijj" title="Bookmarker">
        <img src="../images/bookmarker.png" alt="Chrome ext" title="Chrome ext" />
      </a>
      <a href="http://hanford.github.io/BackgroundChanger/" title="Javascript Color Finder">
        <img src="../images/color.png" alt="../color.png" title="JavascriptColor Creator" />
      </a>
      <a href="http://hanford.github.io/5secondGame/" title="5 Seconds">
        <img src="../images/5seconds.png" alt="../5seconds.png" title="5 Seconds Game" />
      </a>
      <a href="/Projects/ios7/ios7.html" title="iOS 7 in CSS">
        <img src="../images/ios7.png" alt="iOS7CSS" title="iOS7CSS" />
      </a>
      <a href="http://fouad.github.io/jquery-tips/" title="jQuery Tooltips">
        <img height="200" src="../images/jquery.png" alt="jquerytip" title="jquerytooltip" />
      </a>
    </div>
    <p class="clearfix">Only showing a few projects here, I have other work on my github.</p>
    <br />{% include footer.html %} {% include scripts.html %}
  </div>
</body>

</html>
