<html>
  <head>

    <title>Jack Hanford's Blog</title>

    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" type="text/css" href="../../../assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/animations.css">

    <link rel="stylesheet" type="text/css" href="../../../assets/css/blog.css">

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../../assets/vendor/jquery-tipr/tipr/tipr.css">
</head>
<body>
<!-- Page beginning -->
  <div class="introbox">
    <a href="../../../index.html">
      <img src="../../../images/me.jpg" class="profilePic">
    </a>
    <h2 class="title">Jack Hanford</h2>
    <div>
      <a class="sublte social" href="http://twitter.com/jackhanford">Twitter</a>
      <br />
      <br />
      <a class="sublte social" href="http://facebook.com/jackhanford">Facebook</a>
      <br />
      <br />
      <a class="sublte social" href="mailto:jackhanford.com">Email</a>
      <br />
      <br />
      <a class="sublte social" href="http://github.com/jackhanford">Github</a>
      <br />
      <br />
      <a class="sublte social" href="/2013/12/12/BlogIndex.html">Blog</a>
      <br />
      <br />
    </div>
  </div> <!-- </introbox> -->
    <div id="top" class="posts">
      <div class="topic">
        <p>

          {{content}}

        </p>
      </div>
    </div>
    <br />
    <br />
    <footer>
      <a class="" href="#top">Back to the top</a>
      <br />
      <br />
      <!-- <a id="feedback" class="jbtn" href="#top">Feedback</a> -->
    </footer>
  <!-- Page end -->
<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-45226320-1', 'jackhanford.com');
ga('send', 'pageview');

</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="../../../assets/js/main.js"></script>
<script type="text/javascript" src="../../../vendor/jquery-tipr/tipr/tipr.js"></script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</body>
</html>
</body>
</html>