@import '../node_modules/@blueprintjs/core/dist/blueprint.css';

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  font-size: 10px;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

.section {
  line-height: 2.6rem;
}
